In [2]:
# Lesson: 파이썬 Pandas 초급 튜토리얼

# Pandas 가져오기
import pandas as pd

# DataFrame 생성하기
data = {'이름': ['Alice', 'Bob', 'Charlie'],
        '나이': [25, 30, 35],
        '도시': ['뉴욕', '파리', '런던']}
df = pd.DataFrame(data)
df.head()

        이름  나이  도시
0    Alice  25  뉴욕
1      Bob  30  파리
2  Charlie  35  런던

In [3]:
# 데이터 접근하기
print("\n데이터 접근하기:")
print("이름 열:")
print(df['이름'])
print("나이와 도시 열:")
print(df[['나이', '도시']])
print("첫 번째 행:")
print(df.iloc[0])
print("특정 셀:")
print(df.at[1, '이름'])

데이터 접근하기:
이름 열:
0      Alice
1        Bob
2    Charlie
Name: 이름, dtype: object
나이와 도시 열:
   나이  도시
0  25  뉴욕
1  30  파리
2  35  런던
첫 번째 행:
이름    Alice
나이       25
도시       뉴욕
Name: 0, dtype: object
특정 셀:
Bob

In [4]:
# 요약 통계량
print("\n요약 통계량:")
print("평균 나이:", df['나이'].mean())
print("최대 나이:", df['나이'].max())
print("최소 나이:", df['나이'].min())

요약 통계량:
평균 나이: 30.0
최대 나이: 35
최소 나이: 25

In [5]:
# 데이터 필터링
print("\n데이터 필터링:")
filtered_df = df[df['나이'] > 30]
print("필터링된 DataFrame:")
print(filtered_df)

# 데이터 정렬
print("\n데이터 정렬:")
sorted_df = df.sort_values(by='나이', ascending=False)
print("정렬된 DataFrame:")
print(sorted_df)

데이터 필터링:
필터링된 DataFrame:
        이름  나이  도시
2  Charlie  35  런던

데이터 정렬:
정렬된 DataFrame:
        이름  나이  도시
2  Charlie  35  런던
1      Bob  30  파리
0    Alice  25  뉴욕

In [6]:
# 새로운 열 추가하기
df['월급'] = [50000, 60000, 70000]
print("\n월급 열이 추가된 DataFrame:")
print(df)

# 열 삭제하기
df = df.drop('도시', axis=1)
print("\n도시 열을 삭제한 DataFrame:")
print(df)

월급 열이 추가된 DataFrame:
        이름  나이  도시     월급
0    Alice  25  뉴욕  50000
1      Bob  30  파리  60000
2  Charlie  35  런던  70000

도시 열을 삭제한 DataFrame:
        이름  나이     월급
0    Alice  25  50000
1      Bob  30  60000
2  Charlie  35  70000

In [8]:
# CSV 파일로부터 읽기
csv_data = pd.read_csv('data.csv')
print("\nCSV 파일로부터 읽은 데이터: \n")
print(csv_data)

CSV 파일로부터 읽은 데이터:

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London